In [1]:
import pandas as pd
import numpy as np
import os

# Opening Dataset

In [2]:
print(os.listdir())

['.android', '.conda', '.condarc', '.idlerc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.spyder-py3', '.thumbnails', '3D Objects', 'Anaconda3', 'AppData', 'Application Data', 'Cleaning data.ipynb', 'Complete-Python-3-Bootcamp-master', 'Contacts', 'Cookies', 'Currency converter.ipynb', 'Documents', 'Downloads', 'Dropbox', 'Favorites', 'Google Drive', 'IntelGraphicsProfiles', 'Links', 'Local Settings', 'MJKJRegInfo_U5E664P45VMUH7KFFLV36NSWUTVWJHRR', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'OS', 'PhotoshopPortable', 'Pictures', 'PrintHood', 'Recent', 'Roaming', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'tmdb-movies.csv', 'Udemy Running Notes.ipynb', 'Untitled.ipynb', 'Untitled1.ipynb', 'Verzeo Python Notes', 'Videos', 'vmlogs']

In [3]:
df = pd.read_csv("tmdb-movies.csv")

In [4]:
df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

# Third highest and third lowest budget

In [5]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [6]:
df = df[['budget' , 'original_title' , 'release_year' , 'genres' , 'cast' , 'revenue' , 'runtime']]

In [7]:
df

,budget,original_title,release_year,genres,cast,revenue,runtime
0,150000000,Jurassic World,2015,Action|Adventure|Science Fiction|Thriller,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,124
1,150000000,Mad Max: Fury Road,2015,Action|Adventure|Science Fiction|Thriller,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,378436354,120
2,110000000,Insurgent,2015,Adventure|Science Fiction|Thriller,Shailene Woodley|Theo James|Kate Winslet|Ansel...,295238201,119
3,200000000,Star Wars: The Force Awakens,2015,Action|Adventure|Science Fiction|Fantasy,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,2068178225,136
4,190000000,Furious 7,2015,Action|Crime|Thriller,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,1506249360,137
...,...,...,...,...,...,...,...
10861,0,The Endless Summer,1966,Documentary,Michael Hynson|Robert August|Lord 'Tally Ho' B...,0,95
10862,0,Grand Prix,1966,Action|Adventure|Drama,James Garner|Eva Marie Saint|Yves Montand|Tosh...,0,176
10863,0,Beregis Avtomobilya,1966,Mystery|Comedy,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,0,94
10864,0,"What's Up, Tiger Lily?",1966,Action|Comedy,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,0,80
10865,19000,Manos: The Hands of Fate,1966,Horror,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,0,74

# Sorting budget column

In [9]:
sorted_budget_df = df.sort_values(by = 'budget')

In [10]:
sorted_budget_df

,budget,original_title,release_year,genres,cast,revenue,runtime
5361,0,The Butcher Boy,1997,Drama|Comedy|Foreign,Eamonn Owens|Alan Boyle|Fiona Shaw|Andrew Full...,0,110
5959,0,Muscle Shoals,2013,Documentary|History|Music,Gregg Allman|Bono|Clarence Carter|Jimmy Cliff|...,0,111
5958,0,Lego Batman: The Movie - DC Super Heroes Unite,2013,Animation|Adventure|Family,Clancy Brown|Rob Paulsen|Brian Bloom|Laura Bai...,0,71
5957,0,We Steal Secrets: The Story of WikiLeaks,2013,Documentary,Julian Assange|Chelsea Manning|Heather Brooke|...,602042,127
5955,0,Get a Horse!,2013,Animation|Family,Walt Disney|Marcellite Garner|Billy Bletcher|W...,0,6
...,...,...,...,...,...,...,...
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100

In [18]:
sorted_budget_df_nonempty = sorted_budget_df[sorted_budget_df['budget']>0]

In [19]:
sorted_budget_df_nonempty

,budget,original_title,release_year,genres,cast,revenue,runtime
3065,1,"Angus, Thongs and Perfect Snogging",2008,Comedy|Drama|Family|Romance,Georgia Groome|Eleanor Tomlinson|Aaron Taylor-...,0,100
1151,1,Fear Clinic,2014,Horror,Thomas Dekker|Robert Englund|Cleopatra Coleman...,0,95
2618,1,Lost & Found,1999,Comedy|Romance,David Spade|Sophie Marceau|Ever Carradine|Step...,100,95
3581,1,"Love, Wedding, Marriage",2011,Comedy|Romance,Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...,1378,90
8944,2,Death Wish 2,1982,Action|Crime|Thriller,Charles Bronson|Jill Ireland|Vincent Gardenia|...,16,88
...,...,...,...,...,...,...,...
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100

# Third lowest budget

In [21]:
sorted_budget_df_nonempty.head()

,budget,original_title,release_year,genres,cast,revenue,runtime
3065,1,"Angus, Thongs and Perfect Snogging",2008,Comedy|Drama|Family|Romance,Georgia Groome|Eleanor Tomlinson|Aaron Taylor-...,0,100
1151,1,Fear Clinic,2014,Horror,Thomas Dekker|Robert Englund|Cleopatra Coleman...,0,95
2618,1,Lost & Found,1999,Comedy|Romance,David Spade|Sophie Marceau|Ever Carradine|Step...,100,95
3581,1,"Love, Wedding, Marriage",2011,Comedy|Romance,Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...,1378,90
8944,2,Death Wish 2,1982,Action|Crime|Thriller,Charles Bronson|Jill Ireland|Vincent Gardenia|...,16,88

# Third highest budget

In [22]:
sorted_budget_df_nonempty.tail()

,budget,original_title,release_year,genres,cast,revenue,runtime
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100