In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
 print(os.listdir())

['.android', '.conda', '.condarc', '.idlerc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.spyder-py3', '.thumbnails', '3D Objects', 'Anaconda3', 'AppData', 'Application Data', 'Cleaning data.ipynb', 'Complete-Python-3-Bootcamp-master', 'Contacts', 'Cookies', 'Currency converter.ipynb', 'Documents', 'Downloads', 'Dropbox', 'Favorites', 'Google Drive', 'IntelGraphicsProfiles', 'Links', 'Local Settings', 'MJKJRegInfo_U5E664P45VMUH7KFFLV36NSWUTVWJHRR', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'OS', 'PhotoshopPortable', 'Pictures', 'PrintHood', 'Recent', 'Roaming', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'tmdb-movies.csv', 'Udemy Running Notes.ipynb', 'Untitled.ipynb', 'Verzeo Python Notes', 'Videos', 'vmlogs']

In [3]:
data = pd.read_csv("tmdb-movies.csv")

In [10]:
data

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [4]:
data.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [5]:
data.tail()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000,0.0
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000,0.0
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000,0.0
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,127642.279154,0.0

In [6]:
data.shape

(10866, 21)

In [7]:
data.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [8]:
data.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [9]:
data.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

# Cleaning the data

In [11]:
data.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [12]:
data[data['imdb_id'].isnull()]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
548,355131,NaN,0.108072,0,0,Sense8: Creating the World,Tuppence Middleton|Bae Doona |Brian J. Smith|A...,NaN,NaN,NaN,...,NaN,25,Documentary|Science Fiction,Netflix,8/10/15,12,7.5,2015,0.000000,0.0
997,287663,NaN,0.330431,0,0,Star Wars Rebels: Spark of Rebellion,Freddie Prinze Jr.|Vanessa Marshall|Steve Blum...,NaN,Steward Lee|Steven G. Lee,NaN,...,"A Long Time Ago In A Galaxy Far, Far Awayâ€¦ A...",44,NaN,NaN,10/3/14,13,6.8,2014,0.000000,0.0
1528,15257,NaN,0.607851,0,0,Hulk vs. Wolverine,Fred Tatasciore|Bryce Johnson|Steve Blum|Nolan...,NaN,Frank Paur,NaN,...,Department H sends in Wolverine to track down ...,38,Animation|Action|Science Fiction,Marvel Studios,1/27/09,38,6.9,2009,0.000000,0.0
1750,101907,NaN,0.256975,0,0,Hulk vs. Thor,Graham McTavish|Fred Tatasciore|Matthew Wolf|J...,NaN,Sam Liu,A Battle Between God and Monster,...,"For ages, Odin has protected his kingdom of As...",41,Action|Animation|Fantasy|Science Fiction,Marvel Studios,1/27/09,38,6.4,2009,0.000000,0.0
2401,45644,NaN,0.067753,0,0,Opeth: In Live Concert At The Royal Albert Hall,"Mikael Ã…kerfeldt|Martin ""Axe"" Axenrot|Martin ...",http://www.opeth.com,NaN,"The Loyal Disharmonic Orchestra, Conducted By ...",...,As part of the ongoing celebration of their 20...,163,Music,NaN,9/21/10,10,8.6,2010,0.000000,0.0
4797,369145,NaN,0.167501,0,0,Doctor Who: The Snowmen,Matt Smith|Jenna Coleman|Richard E. Grant|Ian ...,NaN,NaN,NaN,...,"Christmas Eve, 1892, and the falling snow is t...",60,NaN,BBC Television UK,12/25/12,10,7.8,2012,0.000000,0.0
4872,269177,NaN,0.090552,0,0,Party Bercy,Florence Foresti,NaN,NaN,NaN,...,Florence Foresti is offered Bercy tribute to a...,120,Comedy,TF1 VidÃ©o,9/23/12,15,6.4,2012,0.000000,0.0
6071,279954,NaN,0.004323,500,0,Portal: Survive!,Monique Blanchard|Bradley Mixon,https://www.kickstarter.com/projects/colinandc...,Connor McGuire|Colin McGuire,The Cake is a Lie,...,"A short, live action fan film by Collin and Co...",7,Action|Science Fiction,NaN,10/8/13,11,7.5,2013,468.016676,0.0
7527,50127,NaN,0.570337,0,0,Fallen: The Journey,Paul Wesley|Fernanda Andrade|Tom Skerritt|Rick...,NaN,Mikael Salomon,NaN,...,"A year later, Aaron is still traveling around ...",80,Action|Adventure|Drama|Fantasy|Family,NaN,1/1/07,11,7.3,2007,0.000000,0.0
7809,50128,NaN,0.060795,0,0,Fallen: The Destiny,Paul Wesley|Fernanda Andrade|Tom Skerritt|Rick...,NaN,Mikael Salomon,NaN,...,"Aaron and Azazel defeat the Powers, and force ...",80,Adventure|Fantasy|Drama|Action|Science Fiction,NaN,1/1/07,13,7.0,2007,0.000000,0.0

In [13]:
data.notnull().head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [14]:
data.shape

(10866, 21)

In [15]:
data.dropna(how = 'any').shape

(1992, 21)

In [16]:
data.dropna(how = 'all').shape

(10866, 21)

In [17]:
data.dropna(subset = ['homepage'],how = 'all').shape

(2936, 21)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [20]:
(data['budget'].value_counts())

0           5696
20000000     190
15000000     183
25000000     178
10000000     176
            ...
51500000       1
25500000       1
1350000        1
7920000        1
4653000        1
Name: budget, Length: 557, dtype: int64

In [38]:
data

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [41]:
data.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [42]:
data = data[['budget' , 'original_title' , 'release_year' , 'genres' , 'cast' , 'revenue' , 'runtime' ]]

In [43]:
data

,budget,original_title,release_year,genres,cast,revenue,runtime
0,150000000,Jurassic World,2015,Action|Adventure|Science Fiction|Thriller,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,124
1,150000000,Mad Max: Fury Road,2015,Action|Adventure|Science Fiction|Thriller,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,378436354,120
2,110000000,Insurgent,2015,Adventure|Science Fiction|Thriller,Shailene Woodley|Theo James|Kate Winslet|Ansel...,295238201,119
3,200000000,Star Wars: The Force Awakens,2015,Action|Adventure|Science Fiction|Fantasy,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,2068178225,136
4,190000000,Furious 7,2015,Action|Crime|Thriller,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,1506249360,137
...,...,...,...,...,...,...,...
10861,0,The Endless Summer,1966,Documentary,Michael Hynson|Robert August|Lord 'Tally Ho' B...,0,95
10862,0,Grand Prix,1966,Action|Adventure|Drama,James Garner|Eva Marie Saint|Yves Montand|Tosh...,0,176
10863,0,Beregis Avtomobilya,1966,Mystery|Comedy,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,0,94
10864,0,"What's Up, Tiger Lily?",1966,Action|Comedy,Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,0,80
10865,19000,Manos: The Hands of Fate,1966,Horror,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,0,74

In [55]:
sorted_data = data.sort_values( by = 'budget')

In [56]:
sorted_data

,budget,original_title,release_year,genres,cast,revenue,runtime
5361,0,The Butcher Boy,1997,Drama|Comedy|Foreign,Eamonn Owens|Alan Boyle|Fiona Shaw|Andrew Full...,0,110
5959,0,Muscle Shoals,2013,Documentary|History|Music,Gregg Allman|Bono|Clarence Carter|Jimmy Cliff|...,0,111
5958,0,Lego Batman: The Movie - DC Super Heroes Unite,2013,Animation|Adventure|Family,Clancy Brown|Rob Paulsen|Brian Bloom|Laura Bai...,0,71
5957,0,We Steal Secrets: The Story of WikiLeaks,2013,Documentary,Julian Assange|Chelsea Manning|Heather Brooke|...,602042,127
5955,0,Get a Horse!,2013,Animation|Family,Walt Disney|Marcellite Garner|Billy Bletcher|W...,0,6
...,...,...,...,...,...,...,...
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100

In [58]:
sorted_data.tail(10)

,budget,original_title,release_year,genres,cast,revenue,runtime
4367,250000000,The Hobbit: An Unexpected Journey,2012,Adventure|Fantasy|Action,Ian McKellen|Martin Freeman|Richard Armitage|A...,1017003568,169
5508,255000000,The Lone Ranger,2013,Action|Adventure|Western,Johnny Depp|Armie Hammer|William Fichtner|Hele...,89289910,149
7394,258000000,Spider-Man 3,2007,Fantasy|Action|Adventure,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,890871626,139
1929,260000000,Tangled,2010,Animation|Family,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,591794936,100
4411,260000000,John Carter,2012,Action|Adventure|Fantasy|Science Fiction,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,284139100,132
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100

In [61]:
sorted_data_budget_emptynon = sorted_data[~sorted_data['budget'].isna()]

In [62]:
sorted_data_budget_emptynon

,budget,original_title,release_year,genres,cast,revenue,runtime
5361,0,The Butcher Boy,1997,Drama|Comedy|Foreign,Eamonn Owens|Alan Boyle|Fiona Shaw|Andrew Full...,0,110
5959,0,Muscle Shoals,2013,Documentary|History|Music,Gregg Allman|Bono|Clarence Carter|Jimmy Cliff|...,0,111
5958,0,Lego Batman: The Movie - DC Super Heroes Unite,2013,Animation|Adventure|Family,Clancy Brown|Rob Paulsen|Brian Bloom|Laura Bai...,0,71
5957,0,We Steal Secrets: The Story of WikiLeaks,2013,Documentary,Julian Assange|Chelsea Manning|Heather Brooke|...,602042,127
5955,0,Get a Horse!,2013,Animation|Family,Walt Disney|Marcellite Garner|Billy Bletcher|W...,0,6
...,...,...,...,...,...,...,...
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100

In [69]:
budget_data = sorted_data.dropna(axis = 0 , how = 'any')

In [70]:
budget_data

,budget,original_title,release_year,genres,cast,revenue,runtime
5361,0,The Butcher Boy,1997,Drama|Comedy|Foreign,Eamonn Owens|Alan Boyle|Fiona Shaw|Andrew Full...,0,110
5959,0,Muscle Shoals,2013,Documentary|History|Music,Gregg Allman|Bono|Clarence Carter|Jimmy Cliff|...,0,111
5958,0,Lego Batman: The Movie - DC Super Heroes Unite,2013,Animation|Adventure|Family,Clancy Brown|Rob Paulsen|Brian Bloom|Laura Bai...,0,71
5957,0,We Steal Secrets: The Story of WikiLeaks,2013,Documentary,Julian Assange|Chelsea Manning|Heather Brooke|...,602042,127
5955,0,Get a Horse!,2013,Animation|Family,Walt Disney|Marcellite Garner|Billy Bletcher|W...,0,6
...,...,...,...,...,...,...,...
6570,270000000,Superman Returns,2006,Adventure|Fantasy|Action|Science Fiction,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154
14,280000000,Avengers: Age of Ultron,2015,Action|Adventure|Science Fiction,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141
7387,300000000,Pirates of the Caribbean: At World's End,2007,Adventure|Fantasy|Action,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169
3375,380000000,Pirates of the Caribbean: On Stranger Tides,2011,Adventure|Action|Fantasy,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136
2244,425000000,The Warrior's Way,2010,Adventure|Fantasy|Action|Western|Thriller,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100

In [68]:
print(budget_data)

(10768, 7)